/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*color palette
 beige #F1F0D2
 blush #E04A63
 light pink #FDC9B4
 blue #3E425D
 an oldie #AE5051
 http://www.colourlovers.com/palette/3934437/a_better_person*/

 * {
  margin: 0px;
  padding: 0px;
 }
/*NAV Styling*/
 nav {
  background-color: #AE5051;
  color: #3E425D;
  font-size: 20px;
  height: 60px;
  padding: 0px;
  margin: 0px;
  display: flex;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: #FDC9B4;
}
 nav p {
   padding: 20px;
 }
nav a:hover {
  color: #E04A63;
  background-color: #FDC9B4;
}

.container {
  margin: 20px;
}
body {
  background-color: #F1F0D2;
}
/*footer {
  background-color: grey;
  height: 30px;
}*/
/*Club Index Page Style*/
.clubindex {
  /*position: relative;*/
  margin: 10px;
  border-bottom: 1px solid grey;
  display: block;
  clear: both;
  float: top;
  height: 230px;
}

img.clubpic {
  height: 200px;
  width: 200px;
  border-radius: 50em;
  position: relative;
  /*border: 3px solid black;*/
  clear: both;
}

img.clubshowpic {
  height: 200px;
  width: 200px;
  position: relative;
  /*border: 3px solid black;*/
  clear: both;
  /*display: flex;*/
}

.clubinfo {
  display: inline-flex;
  padding: 10px;
  width: 100%;
}

.text {
  padding: 0px 20px 20px 20px;
  width: 60%;
}

.descrip {
  clear: both;
  position: relative;
  left: 220px;
  bottom: 200px;
  font-size: 30px;
  width: 400px;
}

.clubtext {
  clear: both;
  float: left;
  position: relative;
  font-weight: bolder;
  font-size: 40px;
  width: 400px;
}

h1 {
  text-align: center;
  color: #AE5051;
}
h2 {
  text-align: center;
  color: #AE5051;
}

.enter a {
  text-decoration: none;
  background-color: #AE5051;
  color: #FDC9B4;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  position: absolute;
  left: 40px;
  /*top: 70px;*/
}

.enter a:hover {
  background-color: #FDC9B4;
  color: #E04A63;

}

.edit a {
  text-decoration: none;
  background-color: #AE5051;
  color: #FDC9B4;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.edit a:hover {
  background-color: #FDC9B4;
  color: #E04A63;
}

.clubmeetings {
  padding: 10px;
  border-bottom: solid black 3px;
  border-top: solid black 3px;
  position: relative;

}

.clubmembers {
  padding: 10px;
}

.left {
  width: 203px;
  display: inline-block;
  clear: both;
  /*border: solid black 3px;*/

}
.right {
  width: 400px;
  display: inline-block;
  clear: both;
  position: absolute;
  top: 160px;
  left: 250px;
}

a {
  font-weight: bold;
  color: #3E425D;
}

a:hover {
  text-decoration: underline;
}
input.enter {
  text-decoration: none;
  background-color: #AE5051;
  color: #FDC9B4;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1.17em;
  font-family: serif;
  font-weight: bold;
}

input.enter:hover {
  background-color: #FDC9B4;
  color: #E04A63;
}

.flash {

  display: inline-block;
  padding: 30px;
  position: absolute;
  margin: auto;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

}
/*.notice {
  background-color: rgba(255,255,255,.7);
  color: #3E425D;
}

.alert {
  background-color: rgba(255,255,255,.7);
  color: #3E425D;
}*/

.signup {
  background-color: rgba(255,255,255,.7);
  display: inline-block;
  padding: 30px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 220px;
}

.home {
  background-image: url("treehouse.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  margin: -20px;
}

li {
  margin-left: 20px;
}

.links {
  text-align: center;
}
