/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0px;
  padding: 0px;
 }
/*NAV Styling*/
 nav {
  background-color: black;
  color: white;
  font-size: 20px;
  height: 60px;
  padding: 0px;
  margin: 0px;
  display: flex;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: white;
}

nav a:hover {
  color: #A8003B;
  background-color: blue;
}

.container {
  margin: 20px;
}

/*Club Index Page Style*/
.clubindex {
  /*position: relative;*/
  margin: 10px;
  border-bottom: 1px solid grey;
  display: block;
  clear: both;
  float: top;
  height: 230px;
}

.clubindex:hover {

}

img.clubpic {
  height: 200px;
  width: 200px;
  border-radius: 50em;
  position: relative;
  border: 3px solid black;
  clear: both;
}
.descrip {
  clear: both;
  position: relative;
  left: 220px;
  bottom: 200px;
  font-size: 30px;
  width: 400px;
}

.clubtext {
  clear: both;
  float: left;
  position: relative;
  font-weight: bolder;
  font-size: 40px;
  width: 400px;
}

h1 {
  text-align: center;
}

.enter a {
  text-decoration: none;
  background-color: purple;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  position: absolute;
  left: 40px;
  /*top: 70px;*/
}

.enter a:hover {
  background-color: magenta;

}

.edit a {
  text-decoration: none;
  background-color: purple;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.edit a:hover {
  background-color: magenta;
}

.clubmeetings {
  background-color: pink;
  padding: 10px;
}

.clubmembers {
  background-color: yellow;
  padding: 10px;
}
